<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Management Studio - login page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}">
    <style>
        .card {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Zarządzajnik</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/announcements}">Lista ogłoszeń <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/tasks}">Zadania</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/gifts}">Lista prezentowa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/timetable}">Terminarz zjazdów</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0" action="logmeout" th:action="@{/logmeout}" method="post">
                <div class="navbar-brand">Witaj, <span  th:text="${loggedUser}"></span></div>&nbsp;&nbsp;
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Wyloguj</button>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <p>
        <h1>Lista ogłoszeń:</h1>
    </p>
    <div th:switch="${message}">
        <div th:case="'Pomyślnie dodano ogłoszenie'">
            <div class="alert alert-success" role="alert" th:text="${message}"></div>
        </div>
    </div>
    <p>
        <a th:href="@{/announcements/add}">Dodaj ogłoszenie</a>
    </p>

    <div th:each="announcement, iterationStatus: ${announcementList}">
        <div class="card">
            <div  class="card-body">
                <h2 th:text="${announcement.title}" class="card-title"></h2>
                <small><p th:text="${announcement.date}" class="card-subtitle mb-2 text-muted"></p></small>
                <div class="card-link" id="delete-link" th:if="${announcement.owner == loggedUser}">
                    <small><a th:href="@{/announcements/deleteAnnouncement/} + ${announcement.id}">Usuń ogłoszenie</a></small>
                    <hr />
                </div>

                <p th:utext="${announcement.content}" class="card-text"></p>
        <!--        <div th:text="${iterationStatus.count + (page.size * (page.number-1))}">No.</div>-->
    <!--            <hr />-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <!-- Pagination Bar -->
            <div th:fragment='paginationbar'>
                <div class="text-center">
                    <ul class='pagination'>
                        <li th:class="${page.firstPage}?'page-item disabled':'page-item'">
                            <span class="page-link" th:if='${page.firstPage}'>Pierwsza</span>
                            <a class="page-link" th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>
                                Pierwsza</a>
                        </li>
                        <li th:class="${page.hasPreviousPage}? 'page-item' : 'page-item disabled'">
                            <span class="page-link" th:if='${not page.hasPreviousPage}'>«</span>
                            <a class="page-link" th:if='${page.hasPreviousPage}'
                               th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'
                               title='Go to previous page'>«</a>
                        </li>
                        <li th:each='item : ${page.items}' th:class="${item.current}? 'page-item active' : 'page-item'">
                            <span class="page-link" th:if='${item.current}' th:text='${item.number}'>1</span>
                            <a class="page-link" th:if='${not item.current}'
                               th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span
                                    th:text='${item.number}'>1</span></a>
                        </li>
                        <li th:class="${page.hasNextPage}? 'page-item' : 'page-item disabled'">
                            <span class="page-link" th:if='${not page.hasNextPage}'>»</span>
                            <a class="page-link" th:if='${page.hasNextPage}'
                               th:href='@{${page.url}(page=${page.number},size=${page.size})}'
                               title='Go to next page'>»</a>
                        </li>
                        <li th:class="${page.lastPage}? 'page-item disabled' : 'page-item'">
                            <span class="page-link" th:if='${page.lastPage}'>Ostatnia</span>
                            <a class="page-link" th:if='${not page.lastPage}'
                               th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Ostatnia</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


</div>
<script type="text/javascript" th:src="@{/jquery/jquery.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.js}"></script>
</body>
<script>
    var delLink = document.getElementById("delete-link");
    var currentUrl = window.location.href;
    console.log(currentUrl);

    delLink.onclick = function(e) {
        var confirmation = confirm("Czy na pewno chcesz usunąć ogłoszenie?");
        if (confirmation == false) {
            e.preventDefault();
        } else {
            window.location = currentUrl;
        }
    }
</script>
</html>