<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Management Studio - login page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/summernote/summernote-bs4.css}">
    <style>
        #dateField {
            display: none;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Zarządzajnik</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/announcements}">Lista ogłoszeń</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/tasks}">Zadania <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/gifts}">Lista prezentowa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/timetable}">Terminarz zjazdów</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="logmeout" th:action="@{/logmeout}" method="post">
                <div class="navbar-brand">Witaj, <span  th:text="${loggedUser}"></span></div>&nbsp;
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Wyloguj</button>
            </form>
        </div>
    </div>
</nav>

<div class="container">

    <h1>Dodawanie zadania:</h1>

    <p>
    <div th:switch="${message}">
        <div th:case="'Data zakończenia nie może byc mniejsza od daty złożenia.'">
            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:text="${message}">asdf</div>
        </div>
    </div>
    </p>

    <form class="form" th:action="@{/tasks/add}" th:object="${taskModel}" method="post">
        <p>
            Wybierz priorytet:<br />
            <select class="form-control" id="selectPriority"  th:field="*{priority}">
                <option value="1">Pilne</option>
                <option value="2">Ważne</option>
                <option value="3">Normalne</option>
                <option value="4">Nie pali się</option>
                <option value="5">Własna data</option>
            </select>
        </p>
        <p><input class="form-control" id="dateField" type="date" th:field="*{dateEnd}"> </p>
        <p><input class="form-control" type="text" th:field="*{title}" placeholder="Tytuł" required /></p>
        <p><textarea id="summernote" th:field="*{description}" required></textarea></p>
        <p><button class="form-control btn btn-primary" type="submit">Dodaj</button></p>
    </form>
</div>
<script type="text/javascript" th:src="@{/jquery/jquery.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" th:src="@{/summernote/summernote-bs4.js}"></script>
<script>
    $(document).ready(function() {
        $('#summernote').summernote({
            placeholder: 'Opis',
            tabsize: 2,
            height: 100
        });
    });
</script>
<script type="text/javascript">
    var datePicker = document.getElementById("dateField");
    var ddl = document.getElementById("selectPriority");

    ddl.onchange = function() {
        var selectedValue = ddl.options[ddl.selectedIndex].value;
        if (selectedValue == "5") {
            datePicker.style.display = "block";
        } else {
            datePicker.style.display = "none";
        }
    }
</script>
</body>
</html>