<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Management Studio - login page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Zarządzajnik</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/announcements}">Lista ogłoszeń</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/tasks}">Zadania <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/gifts}">Lista prezentowa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/timetable}">Terminarz zjazdów</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="logmeout" th:action="@{/logmeout}" method="post">
                <div class="navbar-brand">Witaj, <span  th:text="${loggedUser}"></span></div>&nbsp;
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Wyloguj</button>
            </form>
        </div>
    </div>
</nav>

<div class="container">

    <h2>Szczegóły zadania:</h2>
    <h1 th:text="${task.title}"></h1>
    <hr />
    <p>
        <div th:switch="${task.outstandingFlag}">
            <div th:case="1">
                <div class="alert alert-danger" role="alert">
                    Upłynął termin zadania
                </div>
            </div>
            <div th:case="2">
                <div class="alert alert-warning" role="alert">
                    Dzisiaj upływa termin zadania!
                </div>
            </div>
        </div>
    </p>
    <p th:if="${loggedUser == task.owner}">
        <a th:href="@{/tasks/details/deleteTask/} + ${task.id}"><button class="btn btn-danger" id="deleteButton">Usuń</button></a>
    </p>
    <p>
        <div th:switch="${message}">
            <div th:case="'Tylko osoba, która przejęła zadanie, może je zamknąć.'">
                <div class="alert alert-danger alert-dismissible fade show" role="alert" th:text="${message}">asdf</div>
            </div>
            <div th:case="'Przypisano zadanie.'">
                <div class="alert alert-success alert-dismissible fade show" role="alert" th:text="${message}">asdf</div>
            </div>
            <div th:case="'Rozwiązano zadanie.'">
                <div class="alert alert-success alert-dismissible fade show" role="alert" th:text="${message}">asdf</div>
            </div>
        </div>
    </p>

    <p>
        <div th:switch="${task.status}">
            <div th:case="0">
                <a th:href="@{/tasks/details/takeTask/} + ${task.id}"><button class="btn btn-primary link-btn">Przejmij</button></a>
            </div>
            <div th:case="1">
                <div>Przypisane do: <strong><span th:text="${task.takenBy}"></span></strong></div>
                <br />
                <a th:href="@{/tasks/details/finishTask/} + ${task.id}"><button class="btn btn-success link-btn">Zamknij</button></a>
            </div>
            <div th:case="2">
                <div class="alert alert-primary" role="alert">Zadanie zamknięte przez: <span th:text="${task.takenBy}"></span>
                , dnia <span th:text="${task.closeDate}"></span></div>
            </div>
        </div>
    </p>
    <div>Data dodania: <span th:text="${task.dateAdded}"></span>
        <br />
        Data zakończenia: <span th:text="${task.dateEnd}"></span>
    </div>
    <hr />
    <div>
        Treść:
    </div>
    <div class="card">
        <div class="card-body" th:utext="${task.description}"></div>
    </div>

</div>
<script type="text/javascript" th:src="@{/jquery/jquery.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.js}"></script>
<script type="text/javascript">
    var delBtn = document.getElementById("deleteButton");
    var currentUrl = window.location.href;
    console.log(currentUrl);

    delBtn.onclick = function(e) {
        var confirmation = confirm("Czy na pewno chcesz usunąć zadanie");
        if (confirmation == false) {
            e.preventDefault();
        } else {
            window.location = currentUrl;
        }
    }
</script>
</body>
</html>