<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Management Studio - login page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Zarządzajnik</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/announcements}">Lista ogłoszeń</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/tasks}">Zadania  <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/gifts}">Lista prezentowa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/timetable}">Terminarz zjazdów</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="logmeout" th:action="@{/logmeout}" method="post">
                <div class="navbar-brand">Witaj, <span  th:text="${loggedUser}"></span></div>&nbsp;
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Wyloguj</button>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <p>
        <h1>Zadania:</h1>
    </p>

    <div th:switch="${message}">
        <div th:case="'Pomyślnie dodano zadanie'">
            <div class="alert alert-success" role="alert" th:text="${message}"></div>
        </div>
    </div>

    <p>
        <a th:href="@{/tasks/add}">Dodaj zadanie</a>
    </p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" width="400">Tytuł</th>
                <th scope="col">Status</th>
                <th scope="col">Data dodania</th>
                <th scope="col">Termin</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${taskList}">
                <td><a th:href="@{/tasks/details/} + ${task.id}"><span  th:text="${task.title}"></span></a></td>
<!--                <td th:text="${task.title}"></td>-->
                <td th:switch="${task.status}">
                    <div th:case="0">
                        <div th:if="${task.outstandingFlag==0}">Oczekuje</div>
                        <div th:if="${task.outstandingFlag==1}"><span style="color:red">Oczekuje</span></div>
                        <div th:if="${task.outstandingFlag==2}"><span style="color:orange">Oczekuje</span></div>
                    </div>
                    <div th:case="1">
                        <div th:if="${task.outstandingFlag==0}">W trakcie (<span th:text="${task.takenBy}"></span>)</div>
                        <div th:if="${task.outstandingFlag==1}"><span style="color:red">W trakcie (<span th:text="${task.takenBy}"></span>)</span></div>
                        <div th:if="${task.outstandingFlag==2}"><span style="color:orange">W trakcie (<span th:text="${task.takenBy}"></span>)</span></div>
                    </div>
                    <div th:case="2">
                        <div th:if="${task.outstandingFlag==0}">Zakończone</div>
                        <div th:if="${task.outstandingFlag==1}"><span style="color:red">Zakończone</span></div>
                        <div th:if="${task.outstandingFlag==2}"><span style="color:orange">Zakończone</span></div>
                    </div>
                </td>
                <td th:text="${task.dateAdded}"></td>
                <td th:text="${task.dateEnd}"></td>
            </tr>
        </tbody>
    </table>

</div>
<script type="text/javascript" th:src="@{/jquery/jquery.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.js}"></script>
</body>
</html>