<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Management Studio - login page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Zarządzajnik</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/announcements}">Lista ogłoszeń</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/tasks}">Zadania</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/gifts}">Lista prezentowa <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/timetable}">Terminarz zjazdów</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="logmeout" th:action="@{/logmeout}" method="post">
                <div class="navbar-brand">Witaj, <span  th:text="${loggedUser}"></span></div>&nbsp;&nbsp;
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Wyloguj</button>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <p>
        <h1>Lista Prezentowa:</h1>
    </p>
    <p>
        <a th:href="@{/gifts/add}">Dodaj życzenie prezentowe</a>
    </p>
    <p >
    <div th:switch="${message}">
        <div th:case="'Pomyślnie dodano życzenie'">
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:text="${message}">
                asdf
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div th:case="'Zmieniono status'">
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:text="${message}">
                asdf
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div th:case="'Nie możesz usunąć niedostarczonego zamówienia'">
            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:text="${message}">
                asdf
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div th:case="'Zrealizowano zamówienie'">
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:text="${message}">
                asdf
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div th:case="'Usunięto zamówienie z listy'">
            <div class="alert alert-warning alert-dismissible fade show" role="alert" th:text="${message}">
                asdf
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div th:case="'Miłego korzystania z produktu :)'">
            <div class="alert alert-warning alert-dismissible fade show" role="alert" th:text="${message}">
                asdf
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

    </div>
    </p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" width="400">Zamówienie</th>
            <th scope="col">Kto dodał?</th>
            <th scope="col">Data dodania</th>
            <th scope="col">Czy zamówione?</th>
            <th scope="col">Otrzymano</th>
            <th scope="col">Rezygnacja</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="gift : ${giftList}">
            <td th:text="${gift.title}"></td>
            <td th:text="${gift.owner}"></td>
            <td th:text="${gift.dateStart}"></td>
            <td th:switch="${gift.orderStatus}">
                <div th:case="0" ><a th:href="@{/gifts/setOrderStatus/} + ${gift.id}"><button type="button" class="btn btn-primary">Nie</button></a></div>
                <div th:case="1"><span class="badge badge-success">Tak</span></div>
            </td>
            <td th:switch="${gift.receiveStatus}">
                <div th:case="0"><a th:href="@{/gifts/setReceiveStatus/} + ${gift.id}"><button type="button" class="btn btn-warning">Zrealizuj</button></a></div>
                <div th:case="1"><span th:text="${gift.dateOrder}"></span></div>
            </td>
            <td th:switch="${gift.receiveStatus}">
                <div th:case="0"><a th:href="@{/gifts/deleteOrder/} + ${gift.id}"><button type="button" class="btn btn-danger">Zrezygnuj</button></a></div>
                <div th:case="1"><a th:href="@{/gifts/deleteOrder/} + ${gift.id}"><button type="button" class="btn btn-success">Otrzymano</button></a></div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<script type="text/javascript" th:src="@{/jquery/jquery.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.js}"></script>
</body>
</html>