<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Management Studio - login page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Zarządzajnik  <span class="sr-only">(current)</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/announcements}">Lista ogłoszeń</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/tasks}">Zadania</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/gifts}">Lista prezentowa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/timetable}">Terminarz zjazdów</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0" action="logmeout" th:action="@{/logmeout}" method="post">
                <div class="navbar-brand">Witaj, <span  th:text="${loggedUser}"></span></div>&nbsp;&nbsp;
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Wyloguj</button>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Zarządzajnik</h1>
        <p class="lead">Wspaniała aplikacjo-strona do zarządzania sprawami gospodarstwa domowego pracujących studentów</p>
        <hr class="my-4">
        <p class="lead">Podsumowanie</p>
        <div class="list-group">
            <a th:href="@{/announcements}" class="list-group-item list-group-item-action">
                Liczba ogłoszeń: <strong th:text="${allAnnouncements}"></strong>
            </a>
            <a th:href="@{/tasks}" class="list-group-item list-group-item-action">
                Liczba zadań przypisanych do Ciebie: <strong th:text="${openTasksByUser}"></strong>
            </a>
            <a th:href="@{/tasks}" class="list-group-item list-group-item-action">
                Liczba przedawnionych zadań przypisanych do Ciebie: <strong style="color:red;" th:text="${outstandingTasks}"></strong>
            </a>
            <a th:href="@{/tasks}" class="list-group-item list-group-item-action">
                Liczba wszystkich oczekujących zadań: <strong th:text="${allOpenTasks}"></strong>
            </a>
            <a th:href="@{/gifts}" class="list-group-item list-group-item-action">
                Liczba życzeń prezentowych: <strong th:text="${allGifts}"></strong>
            </a>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/jquery/jquery.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.js}"></script>
</body>
</html>