<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Management Studio - login page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Zarządzajnik</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/announcements}">Lista ogłoszeń</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/tasks}">Zadania</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/gifts}">Lista prezentowa</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/timetable}">Terminarz zjazdów <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="logmeout" th:action="@{/logmeout}" method="post">
                <div class="navbar-brand">Witaj, <span  th:text="${loggedUser}"></span></div>&nbsp;
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Wyloguj</button>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <p>
    <h1>Terminarz zjazdów</h1>
    <h2>Dodawanie terminów</h2>
    </p>
    <hr />

    <form class="form" th:action="@{/timetable/add}" th:object="${timetableModel}" method="post">

        <p>
            Data rozpoczęcia:<br/>
            <input class="form-control" type="date" th:field="*{dateFrom}" required />
        </p>
        <p>
            Data zakończenia:<br/>
            <input class="form-control" type="date" th:field="*{dateTo}" required />
        </p>
        <p><button class="form-control btn btn-primary" type="submit">Zapisz</button></p>
    </form>


</div>
<script type="text/javascript" th:src="@{/jquery/jquery.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.js}"></script>
</body>
</html>