<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Management Studio - login page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">Zarządzajnik</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/announcements}">Lista ogłoszeń</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/tasks}">Zadania</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/gifts}">Lista prezentowa</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/timetable}">Terminarz zjazdów <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="logmeout" th:action="@{/logmeout}" method="post">
                <div class="navbar-brand">Witaj, <span  th:text="${loggedUser}"></span></div>&nbsp;
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Wyloguj</button>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <p>
        <h1>Terminarz zjazdów</h1>
    </p>
    <p th:if="${loggedUser == user}">
        <a th:href="@{add}">Dodaj terminy</a>
        &nbsp;/&nbsp;
        <a th:href="@{deleteAll}" id="deleter_one">Wyczyść listę</a>
    </p>
    <hr />
    <div class="card">
        <div class="card-body" th:each="timetable : ${userTimetableList}">
            <div th:switch="${timetable.status}">
                <div th:case="0">
                    <div class="row">
                        <div class="col-sm-3">
                            <span th:text="${timetable.dateFrom}"></span>
                        </div>
                        <div class="col-sm-3">
                            <span th:text="${timetable.dateTo}"></span>
                        </div>
                        <div class="col-sm-3">
                            <span th:if="${loggedUser == user}"><a th:href="@{changeStatus/} + ${timetable.id}">Odznacz</a></span><br />
                        </div>
                        <div class="col-sm-3" id="deleter_two">
                            <span th:if="${loggedUser == user}"><a th:href="@{deleteEntry/} + ${timetable.id}">Usuń</a></span><br />
                        </div>
                    </div>
                </div>
                <div th:case="1">
                    <div class="row ">
                        <div class="col-sm-3">
                            <del><span th:text="${timetable.dateFrom}"></span></del>
                        </div>
                        <div class="col-sm-6">
                            <del><span th:text="${timetable.dateTo}"></span></del>
                        </div>
                        <div class="col-sm-3" id="deleter_three">
                            <span th:if="${loggedUser == user}"><a th:href="@{deleteEntry/} + ${timetable.id}" >Usuń</a></span><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" th:src="@{/jquery/jquery.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.js}"></script>
<script type="text/javascript">
    var delBtn1 = document.getElementById("deleter_one");
    var delBtn2 = document.getElementById("deleter_two");
    var delBtn3 = document.getElementById("deleter_three");
    var currentUrl = window.location.href;
    console.log(currentUrl);

    delBtn1.onclick = function(e) {
        var confirmation = confirm("Czy na pewno chcesz usunąć listę zjazdów");
        if (confirmation == false) {
            e.preventDefault();
        } else {
            window.location = currentUrl;
        }
    }

    delBtn2.onclick = function(e) {
        var confirmation = confirm("Czy na pewno chcesz usunąć termin?");
        if (confirmation == false) {
            e.preventDefault();
        } else {
            window.location = currentUrl;
        }
    }

    delBtn3.onclick = function(e) {
        var confirmation = confirm("Czy na pewno chcesz usunąć termin?");
        if (confirmation == false) {
            e.preventDefault();
        } else {
            window.location = currentUrl;
        }
    }
</script>
</body>
</html>